body{
    background:url(img/bg-pattern.png),-webkit-gradient(linear,right top,left top,from(#7b4397),to(#dc2430));
}
.font{
    font-family: 'Palanquin', sans-serif;
}
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
  }
  .clickable {
    cursor: pointer;
  }
 
.image img {
    width:100%;
    vertical-align:top;
    background-size: cover;
    background-position: center;
}

.image::before{
    content:'\A';
    position:absolute;
    width:100%;
    height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}
.text-top {
    left: 17%;
    top: 36%;
    position: absolute;
}
.text-top-mobile {
    left: 10%;
    top: 40%;
    position: absolute;
}
.fab {
    padding: 15px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 84%;
}
.iconify { 
    color: hsl(335, 47%, 44%); 
    height: 30%; 
    width: 20%;
}
.section-color{
    background:hsl(37, 85%, 64%);
}
a>small:hover{
    color: rgb(141, 248, 120);
}
.bttn:hover{
    background: rgb(0,0,0);
}
.row-img-mobile{
    height: 650px;
    background-image: url(img/bg-cta.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

